@import 'lightTheme';
@import 'darkTheme';

$red: #ff5050;
$darkGrey: #333333;
$darkBlue: #107ccb;
$paleGrey: #e3e3e3;

/* SASS Theme Declarations

//TODO ----- Replace hex codes in $themes with own codes in separate theme css files when created

*/
$themes: (

    light: (
        bgImg: linear-gradient(to top right, $darkBlue, #64c1f7),
        mainFont: $ltFont,
        bgMainColor: white,
        bgAccentColor: $ltAccent,
        btnMainColor: $ltBtnColor,
        btnAccentColor: $ltBtnAccent,
        exclusiveAccentColor: $ltExclusiveAccent,
    ),

    dark: (
        bgImg: linear-gradient(to top right, $darkGrey, $dtAccent),
        mainFont: $dtFont,
        bgMainColor: $darkGrey,
        bgAccentColor: $dtAccent,
        btnMainColor: $dtBtnColor,
        btnAccentColor: $dtBtnAccent,
        exclusiveAccentColor: $darkBlue,
    )

);

/*
 * Implementation of themes
*/

 @mixin themed() {
    @each $theme, $map in $themes {
      .theme_#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  // Theme Function
  @function t($key) {
    @return map-get($theme-map, $key);
  }


/*CSS for the app
*/

body {

    height: 100%;

}

h1 {

    @include themed() {

        font-family: themed('mainFont');

    }


}