$dtBtnColor: #fdd842;
$dtBtnAccent: #fdeba1;
$dtAccent: #616161;
$dtExclusiveAccent: #107ccb;
$dtFont: 'Roboto Slab', serif;

.dark-mode .pageContent {

    font-family: $dtFont;
  
}

.dark-mode .has-bg-img {
    background-image: url("/darkbg.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: var(--bg);
}

.dark-mode .exclusive {

    background-color: $dtExclusiveAccent;
  
}

.dark-mode #lightTheme {

    visibility: hidden;
  
}

.dark-mode .pageHeader {

    font-family: $dtFont;
  
  
}

