@import 'lightTheme';
@import 'darkTheme';

$red: #ff5050;
$darkGrey: #333333;
$darkBlue: #107ccb;
$paleGrey: #e3e3e3;

/* SASS Theme Declarations */

/*

color - main text colour
color-primary - button color
color-secondary - button hover color
bg - main background color
bg-secondary - gradient background color
border-color - exclusive accent color

*/

/* :root {
  --color: #000000;
  --color-primary: #20c76e;
  --color-secondary: #94e990;
  --bg: #107ccb;
  --bg-secondary: #64c1f7;
  --border-color: #d0eeff;
} */

.light-mode {
  --color: #000000;
  --color-primary: #20c76e;
  --color-secondary: #94e990;
  --bg: white;
  --bg-secondary: #107ccb;
  --border-color: #64c1f7;
}

.dark-mode {
  --color: #e3e3e3;
  --color-primary: #fdd842;
  --color-secondary: #fdeba1;
  --bg: #616161;
  --bg-secondary: #333333;
  --border-color: #616161;
}

/* Implementation of themes */

//makes sure all the page elements are 100% because for some reason it wouldn't inherit the height style
//and this is the only fix I could think of
html, body, #__nuxt, #__layout, #templateHolder, #mainContent {

  height: 100%;

}

//edits the main header
.pageHeader {

  background-color: var(--bg);
  color: var(--color);

}

.headTitle {

  font-weight: 400;
  font-size: 2em;

}

//edits formatting for the content of the page
.pageContent {

  background-image: linear-gradient(to top right, var(--bg-secondary), var(--border-color));
  color: var(--color);
  text-align: center;
  height: 100%;

}

//edits the icons
.icon {
  font-size: 2em;
  color: var(--color); 
}

//edits appearance of the icons used to display which colour mode is being used
.themeIndicator {
   font-size: .75em;
   margin-left: 0;
   margin-right: 0;
   color: var(--color-primary);
}

//formats button appearance
.button, .submitEnquiry {

  font-weight: 900;
  background-color: var(--color-primary);
  color: var(--bg);
  border-radius: 28px;
  cursor: pointer;
  border: none;
  margin: 0px 10px;
  text-align: center;

}

.button:hover, .submitEnquiry:hover {

  color: var(--bg);


}

//tile formatting
.tile {

  margin: 25px;
  margin-top: 75px;
  margin-bottom: 75px;

}

.menuTile {

  margin: 50px;

}

.dataTiles, .box {

  background-color: var(--bg);
  color: var(--color);

}

.sizeTile {

display: flex;
  align-items: center;
  justify-content: center;

}

//formats product image that's displayed
.pimg {

  height: 256px;
  width: 256px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

//formats global look of exclusive banner
.exclusive {

  width: 256px;
  margin-left: auto;
  margin-right: auto;

}

//formats appearance of error message and sale price text
.errmsg, .productSalePrice {

  color: $red;


}

//aligns text to the left on the summary page
#enquiryForm {

  text-align: left;

}